.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.confetti-piece {
  position: absolute;
  top: -20px;
  opacity: 0;
  animation: confetti-fall linear forwards;
}

@keyframes confetti-fall {
  0% {
    top: -20px;
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }

  100% {
    top: 110%;
    opacity: 0;
    transform: translateX(calc(var(--random-x, 0) * 100px)) rotate(720deg);
  }
}

.confetti-piece:nth-child(odd) {
  --random-x: 1;
}

.confetti-piece:nth-child(even) {
  --random-x: -1;
}

.confetti-piece:nth-child(3n) {
  --random-x: 0.5;
}

.confetti-piece:nth-child(4n) {
  --random-x: -0.5;
}
